// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
}

img {
	pointer-events: none;
}

.container {
	height: 100vh;
}

.logincontainer {
	padding: 50px 0;
	gap: 20px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 100%;
	height: 100%;
}

.title {
	grid-column: 5 / 9;
	grid-row: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}


.login-form {
	grid-area: 2 / 4 / 2 / 10;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 1fr);
}


.welcome {
	text-align: center;
	grid-area: 1 / 1 / 1 / 7;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
}

.welcome-title {
	background-color: grey;
	width: 100%;
	padding: 10px 0;
}

.username {
	grid-area: 2 / 2 / 2 / 6;
	display: flex;
	justify-content: center;
	align-items: center;

}

input {
	width: 100%;
	height: 60px;

}


.login {
	grid-area: 3 / 3 / 3 / 5;

}

.login-btn {
	width: 100%;
	height: 60px;
}

.login-btn:disabled {
	background-color: black;
	color: white;
}

input::placeholder {
	text-align: center;
}

.settings {
	grid-area: 3/12/3/12;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}

.menuItem {
	background-color: grey;
	width: 50px;
	height: 50px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	color: white;

}

.menuItem:hover {
	cursor: pointer;
	background-color: white;
}

.menuItemKey {
	margin-left: 5px;
}

.menuPic {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.inputCursor {
	width: 2px;
	height: 2rem;
	background-color: white;
	margin-left: 4px;
	animation: blink .6s linear infinite alternate;
	display: none;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.settingscontainer {
	background-color: rgb(61, 61, 61);
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 10% 80% 10%;
	column-gap: 20px;
	color: white;
}

.settingsnav {
	border-bottom: solid 3px grey;
	grid-area: 1 / 1/ 1 / 13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 20px;
	grid-template-areas: "a a a b b b c c c d d d";

}

.setting1 {
	grid-area: a;
	background-color: rgb(112, 111, 111);
	display: flex;
	justify-content: center;
	align-items: center;
}

.setting2 {
	grid-area: b;
	display: flex;
	justify-content: center;
	align-items: center;

}

.setting3 {
	grid-area: c;
	display: flex;
	justify-content: center;
	align-items: center;

}

.setting4 {
	grid-area: d;
	display: flex;
	justify-content: center;
	align-items: center;
}

.settingsmenu {
	grid-area: 2 / 1 / 2 / 13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		"a a a a a a a a a a a a"
		"b b b b b b b b b b b b";
	gap: 20px;
}

.settingsdivA {
	grid-area: a;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 20px;
}

.settingsdivB {
	grid-area: b;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 20px;
}



.settingsPunkt {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	border-bottom: solid 2px grey;
	background-color: rgb(83, 83, 83)
}

.settingsPunkt div {
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: solid 2px grey;
}

.settingsPunkt div div {
	background-color: rgb(83, 83, 83);
	cursor: pointer;
	border: solid 3px grey;
	color: white;
	border-radius: 16px;
	padding: 10px;
}

.settingsbutton :hover {
	cursor: pointer;
}


.settingsbuttons {
	grid-area: 3 / 1 / 3 / 13;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.settingsbutton {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gameContainer {

	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 20% 10% 50% 20%;
	grid-template-areas:
		"a a a a a a . . . c c c"
		". . . d d d d d d c c c"
		"i i i d d d d d d e e e"
		"f f g g g g g g g g h h"
	;
	column-gap: 20px;
	padding-top: 10px;
}

.playerUI {
	grid-area: a;
	display: grid;
	grid-template-columns: 1fr 4fr;
	color: white;
	border: solid 2px grey;
	border-radius: 16px;
	padding: 10px;
	margin-bottom: 5px;
}

.playerIcon {

	display: flex;
	justify-content: center;
	align-items: center;
}

.playerIcon div {
	border: solid 2px grey;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.playerBars {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		"a a a a"
		"b b b b"
		"c c c c";
	gap: 5px;
}

#playerName {
	grid-area: a;
	display: flex;
	padding-left: 10px;
	border: solid 2px grey;
	border-radius: 16px;
	align-items: center;
}

.playerHP {
	grid-area: b;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	border-radius: 16px;
	border: solid 2px grey;
}

.playerMana {
	grid-area: c;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
	border: solid 2px grey;
	border-radius: 16px;
}

.miniMap {
	grid-area: c;
	display: flex;
	justify-content: end;
	align-items: center;
	margin-bottom: 20px;
}

.map {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: end;

}

.map img {
	border: solid 5px grey;
	width: 175px;
	height: 175px;
}

.popUp {
	grid-area: i;
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: 300px;
	align-self: end;
	color: white;
	border: solid 2px grey;
	border-radius: 16px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}





.skillTree {
	background-color: pink;
	grid-area: d;
	display: none;

}

.inventory {
	background-color: rgb(61, 61, 61);
	grid-area: e;
	grid-template-rows: 1fr 5fr;
	border: solid 3px grey;
	padding: 10px;
	display: none;

	border-radius: 16px;
}

.inventorySlots {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 5px;
}

.inventoryTitle {
	display: flex;
	align-items: center;
	padding-left: 5px;
	color: white;
}


.menuOptionsA {
	grid-area: f;
	display: flex;
	align-items: end;
	padding-bottom: 30px;
	justify-content: space-evenly;
}

.spellContainer {
	border-radius: 16px;
	border: solid 3px grey;
	grid-area: g;
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;


}

.spellContainer div {
	display: grid;
	justify-content: center;
	align-items: center;
}

.spellContainer div img {
	width: 75px;
	height: 75px;
	border-radius: 16px;
	border: solid 3px grey;
}

.menuOptionsB {
	grid-area: h;
	display: flex;
	align-items: end;
	padding-bottom: 30px;
	justify-content: space-evenly;
}

.characterMenu {
	display: none;
	grid-template-columns: 1fr 1fr;
	padding-left: 20px;
	background-color: rgb(61, 61, 61);
	grid-area: d;
	border-radius: 16px;
	border: solid 2px grey;
}


.characterItems {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 20px;
	grid-template-areas:
		"h h h"
		". a ."
		"b . c"
		"d . e"
		"f . g"
		". . ."
	;
	padding-top: 10px;
	padding-right: 10px;
	border-right: solid 2px grey;
}

.characterTab {
	grid-area: h;
	width: 100%;
	border: none !important;
	border-radius: 0px !important;
	border-bottom: solid 2px grey !important;
	justify-content: start !important;
	color: white;
	background-color: rgba(128, 128, 128, 0) !important;
}

#playerHead {
	grid-area: a;
}

#playerChest {
	grid-area: c;
}

#playerLegs {
	grid-area: e;
}

#playerBoots {
	grid-area: g;
}

#playerRing {
	grid-area: f;
}

#playerPrimary {
	grid-area: b;
}

#playerSecondary {
	grid-area: d;
}

.characterItems div {
	background-color: rgb(83, 83, 83);
	border: solid 2px grey;
	border-radius: 16px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.characterStats {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-template-areas:
		"a a a"
		"b b b"
		"c c c"
		"d d d"
		"e e e"
		"f f f"
		"g g g"

	;
	color: white;
	padding: 10px;
	gap: 5px;
	background-color: rgb(31, 31, 31);
	border-radius: 16px;
	height: 100%;
}

.characterUsernameIcon {
	grid-area: a;

	border: solid 2px grey;
	border-radius: 16px;
	display: grid;
	grid-template-columns: 2fr 1fr;

}

.characterUsernameIcon div {
	display: flex;
	justify-content: center;
	align-items: center;
}

#playerIcon div {
	border: solid 1px grey;
	border-radius: 50%;
	height: 30px;
	width: 30px;


}

.stat {
	grid-column: 1 / span 3;
	display: grid;
	grid-template-columns: 2fr 1fr;
	border: solid 2px grey;
	border-radius: 16px;
}

.stat div {
	display: flex;
	justify-content: center;
	align-items: center;
}


.characterItems div img {
	width: 30px;
}

.inventorySlots div {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 2px grey;
	border-radius: 16px;
	background-color: rgb(83, 83, 83);
}