// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
}

.container {
	height: 100vh;
}

.logincontainer {
	padding: 50px 0;
	gap: 20px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 100%;
	height: 100%;
}

.title {
	grid-column: 5 / 9;
	grid-row: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}


.login-form {
	grid-area: 2 / 4 / 2 / 10;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 1fr);
}


.welcome {
	text-align: center;
	grid-area: 1 / 1 / 1 / 7;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
}

.welcome-title {
	background-color: grey;
	width: 100%;
	padding: 10px 0;
}

.username {
	grid-area: 2 / 2 / 2 / 6;
	display: flex;
	justify-content: center;
	align-items: center;

}

input {
	width: 100%;
	height: 60px;

}


.login {
	grid-area: 3 / 3 / 3 / 5;

}

.login-btn {
	width: 100%;
	height: 60px;
}
.login-btn:disabled{
	background-color: black;
	color: white;
}

input::placeholder {
	text-align: center;
}

.settings {
	grid-area: 3/12/3/12;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}

.menuItem {
	background-color: grey;
	width: 80px;
	height: 80px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	color: white;

}

.menuItem:hover {
	cursor: pointer;
	background-color: white;
}

.menuItemKey {
	margin-left: 5px;
}

.menuPic {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.inputCursor {
	width: 2px;
	height: 2rem;
	background-color: white;
	margin-left: 4px;
	animation: blink .6s linear infinite alternate;
	display: none;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.settingscontainer {
	background-color: grey;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 10% 80% 10%;
	column-gap: 20px;
}

.settingsnav {
	background-color: red;
	grid-area: 1 / 1/ 1 / 13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 20px;
	grid-template-areas: "a a a b b b c c c d d d";

}

.setting1 {
	grid-area: a;
	display: flex;
	justify-content: center;
	align-items: center;
}

.setting2 {
	grid-area: b;
	display: flex;
	justify-content: center;
	align-items: center;
}

.setting3 {
	grid-area: c;
	display: flex;
	justify-content: center;
	align-items: center;
}

.setting4 {
	grid-area: d;
	display: flex;
	justify-content: center;
	align-items: center;
}

.settingsmenu {
	background-color: blue;
	grid-area: 2 / 1 / 2 / 13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
	"a a a a a a a a a a a a"
	"b b b b b b b b b b b b";
	gap: 20px;
}
.settingsdivA{
	background-color: aqua;
	grid-area: a;
	display: grid;
	grid-template-rows: 2fr 1fr 1fr 1fr;	
	gap: 20px;
}
.settingsdivB{
	background-color: red;
	grid-area: b;
	display: grid;
	grid-template-rows: 2fr 1fr 1fr 1fr;
	gap: 20px;
}



.settingsPunkt {
	background-color: yellow;
	display:grid;
	grid-template-columns: 1fr 1fr;
	gap:20px;
}
.settingsPunkt div{
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
}



.settingsbuttons {
	background-color: orange;
	grid-area: 3 / 1 / 3 / 13;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
.settingsbutton{
	display: flex;
	justify-content: center;
	align-items: center;
}

.gameContainer {
	background-color: grey;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 20% 10% 50% 20%;
	grid-template-areas: 
	"a a a a a a . . . c c c"
	". . . d d d d d d c c c"
	"i i i d d d d d d e e e"
	"f f g g g g g g g g h h"
	;
	column-gap: 20px;
}
.playerUI{
	background-color: green;
	grid-area: a;
	display: grid;
	grid-template-columns: 2fr 4fr;	
	color: white;
	gap: 20px;
}
.playerIcon{
	background-color: orange;
	display: flex;
	justify-content: center;
	align-items: center;
}
.playerIcon div {
	background-color: red;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
.playerBars{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3,1fr);
	grid-template-areas: 
	"a a a a"
	"b b b b"
	"c c c c";
	gap: 10px;
	padding: 10px;
}
#playerName{
	grid-area: a;
}
.playerHP{
	grid-area: b;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	border-radius: 16px;
}
.playerMana{
	grid-area: c;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
	
	border-radius: 16px;
}

.miniMap{
	background-color: red;
	grid-area: c;
}
.popUp{
	background-color: orange;
	grid-area: i;
}
.characterMenu{
	background-color: blue;
	grid-area: d;
	display: none;
}
.skillTree {
	background-color: pink;
	grid-area: d;
	display: none;
	
}
.inventory{
	background-color: yellow;
	grid-area: e;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
	"a b c"
	"d e f"
	"g h i";
	gap: 5px;
	border: solid 1px black;
	padding: 10px;
	display: none;
}

.inventoryslotA{background-color: blue; grid-area: a; }
.inventoryslotB{background-color: grey; grid-area: b; }
.inventoryslotC{background-color: grey; grid-area: c; }
.inventoryslotD{background-color: grey; grid-area: d; }
.inventoryslotE{background-color: grey; grid-area: e; }
.inventoryslotF{background-color: grey; grid-area: f; }
.inventoryslotG{background-color: grey; grid-area: g; }
.inventoryslotH{background-color: grey; grid-area: h; }
.inventoryslotI{background-color: grey; grid-area: i; }
.menuOptionsA{
	background-color: aqua;
	grid-area:f;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.spellContainer{
	background-color: white;
	grid-area: g;

}
.menuOptionsB{
	background-color: brown;
	grid-area: h;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}